input {
    width: 50%;
    height: 2em;
    border: 2px solid #8db0aa;
    border-radius: 6px;
    outline: none;
  }
  
  input[type="text"]:focus {
    color: #6b6c6c;
  }
  
  textarea {
    background-color: #ebebeb;
  }
  